html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #999;
}

h1 {
    color: #000066;
    font-family: Geotgia, "times New Roman", serif;
    font-size: 3.5rem;
    font-weight:bold;
    text-shadow:#555 3px 2px;
}

h2 {
    color: #000066;
    font-size: 1.5rem;
    line-height:normal;
}

hr {
   border: solid 7px #000;    
}

h3 {
   background-color:#888;
}

em {
   font-weight:normal;
}

li {
    color: #000066;
    font-weight:bold;
    border-top: 2px solid #000; 
    border-bottom: 2px solid #000;
}

ol li:last-child {
    background-color: #f90;
}